/*@import url('//fonts.googleapis.com/css?family=Open Sans:400,400italic,500,500italic,600,600italic,700,700italic');*/
/*@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');*/

:root {
    --res: 256px;
    --body-font: 'Open Sans', sans-serif;
    --normal-font-size: 1rem;
}
html {
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}
.hyper-space-wrapper {
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 20px;
}
.example-container {
    background-color: hsl(230, 0%, 99%);
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.example-container img {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    max-width: 960px;
}
